.foto{
	text-align:center ;
	
}
	
h1{
	 text-align:center;
	 font-size: 45px;
     line-height: 1;
     letter-spacing: 3px;
	 font-weight: bold;
	 font-family:Georgia, 'Times New Roman', Times, serif;
	 color:#0d6efd;
	 padding: 20px;
}

body{
	 background-color:#389dff;
}

form {
	
	border-radius: 4px;
    width: 900px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.541);
	text-align: center;
	max-width: 100%;
	margin: 50px auto;
	background-color:white;
	padding-top: 30px;
	padding-bottom: 10px;
	
	}

footer{
	
	position: relative;
	bottom: 0;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	
	}



